/**** some globals ****/
.stocks-extension .small-text {
    font-size: .8em;
}

.stocks-extension .fwb {
    font-weight: bold;
}

.stocks-extension .tac {
    text-align: center;
}

.stocks-extension .tar {
    text-align: right;
}

.stocks-extension .quote-positive {
    color: #00873c;
    font-weight: bolder;
}

.stocks-extension .quote-negative {
    color: #F44E3F;
    font-weight: bolder;
}

/*** main components ***/

.stocks-extension .screen,
.stocks-extension .screen-wrapper {
    width: 550px;
    max-width: 550px;
    height: 600px;
    max-height: 600px;
}

.stocks-extension .menu-stock-ticker {
    width: 70px;
}

.stocks-extension .menu-stock-ticker .ticker-stock-name-label {
    font-size: .7em;
}

.stocks-extension .menu-stock-ticker .ticker-stock-quote-label {
    font-size: .9em;
    text-align: left;
    font-weight: bold;
}

.stocks-extension .search-bar {
    height: 40px;
    padding: 5px 10px;
}

.stocks-extension .search-bar .search-area-box .navigate-back-icon-button {
    margin-right: 15px;
}

.stocks-extension .search-bar .search-area-box .search-text-input .search-entry-icon {
    width: 21px;
    height: 21px;
}

.stocks-extension .search-bar .button-box {
    height: 20px;
    margin-left: 15px;
}

.stocks-extension .search-bar .button-box .icon-button {
    margin: 0 5px;
}

.stocks-extension .card {
    margin: 10px 15px;
    padding: 10px 20px;
    box-shadow: none;
}

/*** stock details ***/
.stocks-extension .stock-details {
    min-width: 480px;
    margin: 10px 15px;
    padding: 10px 20px;
}

.stocks-extension .stock-details .header-box {
    margin-bottom: 16px;
}

.stocks-extension .stock-left-details-box {
    margin-right: 10px;
}

.stocks-extension .stock-right-details-box {
    margin-left: 10px;
}

.stocks-extension .detail-item-value, .detail-item-label {
    font-size: .9em;
}

.stocks-extension .chart {
    width: 500px;
    height: 300px;
}

.stocks-extension .chart-hover-label {
    margin-top: 10px;
    text-align: center;
}
